*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,#6060d8, #7679e2, #949af2 );
}
#main{
    max-width: 80%;
    height: 100%;
    padding: 24px 64px 48px;
    margin: 0 auto;
}
#head{
    color:#ffffff;
    text-align: center;
}
#head h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 2px;
}
#head h2{
    font-weight: 400;
    opacity: 0.9;
    font-size: 30px;
}
#content{
    position: relative;
    margin-top: 40px;
    background-color: #ffffff;
    height: 84%;
    box-shadow: 8px 8px 16px 4px rgba(0 0 0/32%);
    padding: 28px 0 0 40px;
}
.content-head{
    display: flex;
    justify-content: space-between;
}
.head-left{
    display: flex;
}
.item{
    width: 70px;
    height: 50px;
    background-color: #212121;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
}
.item i{
    font-size: 36px;
    line-height: 50px;
    color: #5d5fd6;
}
.item2{
    height: 8px;
    background-color: #5d5fd6;
    width: 70px;
    margin-top: 8px;
    border-radius: 0 0 6px 6px;
    opacity: 0.9;
}
.text p{
    font-size: 20px;
    margin: 4px 12px 0;
    font-family: 'Rubik', sans-serif;
}
.head-right{
    height: 60px;
    background-image: linear-gradient(to right,#6060d8, #7679e2, #949af2 );
    border-radius: 28px 0 0 28px;
}
.head-right{
    width: 70%;
    display: flex;
    box-shadow: -1px -2px 16px rgba(0 0 0/28%);
}
.head-right ul{
    list-style: none;
    display: flex;
    width: 64%;
    justify-content: space-around;
}
.head-right ul li{
    width: 80px;
    text-align: center;
}
.head-right ul .item3{
    border: 4px solid #ffffff;
    border-left:transparent ;
    border-right:transparent ;
    border-bottom:transparent ;
    border-radius: 4px;
    width: 80px;
}
.head-right ul li a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
}
.head-right ul .item4{
    opacity: 0;
}
.head-right li:hover .item4{
    opacity: 1;
}
.search{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search > div{
    background-color: #ffffff;
    border-radius: 12px;
    height: 40px;
    width: 80%;
}
.search i{
    color: #5d5fd6;
    font-size: 20px;
}
input{
    padding: 8px 2px;
    font-size: 20px;
    outline: none;
    border: 0;
    width: 80%;
    margin-left: 12px;
    border-radius: 20px;
}
.content-body{
    margin-top: 60px;
    height: 440px;
    display: flex;
    justify-content: space-between;
}
.content-body .image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.content-body img{
    width: 100%;
    height: 500px;
}
.box{
    margin-left: 24px;
    align-self: baseline;
    margin-top: 140px;
}
.box div{
    width: 8px;
    height: 8px;
    background-color: #5d5fd6;
    margin: 12px 4px;
}
.box .box2:hover{
    opacity: 1;
    transform: scale(1.4);
}
.box2{
    margin-left:6px !important; 
    opacity: 0.6;
}
.text2{
    width: 40%;
    color: #3f3f3f;
}
.text2 h3{
    font-size: 36px;
    font-weight: 500;
}
.text2 h1{
    font-size: 80px;
    color: #6060d8;
}
.text2 h2{
    font-size: 60px;
}
.text2 p{
    font-size: 18px;
    line-height: 1.5;
    color: #757575;
}
.text2 button{
    width: 32%;
    border-radius: 20px;
    padding: 8px 0;
    font-size: 18px;
    border: 2px solid #5d5fd6;
    margin:  0 8px
}
.text2 a{
    color: #757575;
    text-decoration: none;
}
.text2 button:nth-child(1)
{
    background-image: linear-gradient(to right,#6060d8, #7679e2, #949af2 );
}
.text2 button:hover
{
    background-image: linear-gradient(to right,#6060d8, #7679e2, #949af2 );
}
.text2 button:hover a
{
   color:#ffffff;
}
.khung{
    width: 28px;
    height: 28px;
    border: 1px solid #6060d8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 4px;
}
.khung i{
    font-size: 14px;
    color: #6060d8;
    line-height: 28px;
}
.khung:hover{
    opacity: 0.6;
}
.khung1{
    width: 80px;
    height: 80px;
    border-left: 8px solid #949af2;
    border-top: 8px solid #949af2;
    border-right: 8px solid #6060d8;
    border-bottom: 8px solid #6060d8;
    transform:rotate(-45deg);
}
.khung1 i{
    font-size: 36px;
    line-height: 70px;
    transform: rotate(45deg);
}
.content-foot{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-end;
    left: 40px;
    right: 40px;
    bottom: 50px;
}
