*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    background-color: #f1f1f1;
    height: 100vh;
}
.head{
    background-color: lightpink;
    height: 8%;
    margin: 8px;
}
#body{
    display: flex;
    height: 80%;
    margin: 8px;
}
#left{
    width: 55%;
    height: 100%;
    margin-right: 8px;
}
.xanh{
    background-color: darkgreen;
    height: 60%;
    margin-bottom: 8px;
}
.duoi{
    display: flex;
    height: 40% !important;
    margin-bottom: 8px;
}
.duoi1{
    margin-bottom: 8px;
    width: 50%;
    margin-right: 8px;
}
.item2{
    background-color: red;
    height: 58%;
    margin-bottom: 8px;
}
.item{
    background-color:chocolate;
    height: 40%;
}
.item1{
    width: 50%;
    background-color: orchid;
    height: 98%;
    margin-bottom: 8px;
}
#right{
    width: 45%;
}
.so1{
    display: flex;
    height: 20%;
    margin-bottom: 8px;
}
.so1-1{
    width: 76%;
    background-color:darkorchid;
    margin-right: 8px;
}
.so1-2{
    background-color: green;
    width: 24%;
}
.so2,.so4{
    background-color: yellow;
    height: 8%;
    margin-bottom: 8px;
}
.so3{
    display: flex;
    justify-content: space-between;
    height: 61%;
    margin-bottom: 8px;
}
.item5{
    width: 33%;
    background-color: blue;
    height: 100%;
    margin-left: 8px;
}
.item6{
    background-color: brown;
}
.foot{
    margin: 8px;
    height: 8%;
    background-color: black;
}